<!DOCTYPE html>
<html>

	<head>
		<title>Giffinate</title>
	</head>
	<link type="text/css" href="stylesheets/style.css" />

	<body>
		<div>

			<!-- GIFF CONTENT -->
			<div>
				<div>
					<video autoplay></video>			
				</div>
			</div>




			<!-- USER INTERACTIONS -->
			<div>
				<form class="options">
						<button>Giffinate!</button>

						<label>Text:</label>
						<input type="text" name="text">
						<button>Edit</button>
						<button>Share</button>

				</form>
			</div>
		





		</div>
	  <script src="javascripts/main.js"></script>
	</body>
</html>