<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>
			Gifme
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="stylesheets/dependencies/bootstrap.css">

		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	
	<body>

		<div class="container squeeze">
			<nav class="fixed-title text-center" role="navigation">
        <span class="options-button-group">
          
        </span>
      </nav>
			

			<!-- GIF CONTENT -->
			<div>
				<video id="vid" class="video-stream size" autoplay></video>
			</div>
			
			<div id="bar">
				<progress class="gifshot-progress-bar hidden" max="1" value="0"></progress>
			</div>


			<!-- USER INTERACTIONS -->
			<div>
				
				<div>
					<label for="text">Text:</label>
					<input name="text" id="text" type="text" placeholder="Add a brief message..." size="28" maxlength="20">
				</div>

				<!-- FILTERS -->

				<div class="btn-group radio-btns" data-toggle="buttons">
			    <input id="insta" name="filter" type="radio">
			    <label for="insta">Insta-Filter</label>

			    <input id="none" name="filter" type="radio">
			    <label for="none">None</label>

			    <input id="vhs" name="filter" type="radio">
			    <label for="vhs">VHS-Filter</label>
				</div>

				<br />

				<div>
						<button id="create-gif-btn">Record GIF</button>
				</div>

				<br />
				
				<!-- Where the GIFs will be displayed -->
				<div class="gif-box">
					<ul class="gif-display hidden"></ul>
				</div>

			</div>
			
		




		</div>
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous">  	
		</script>
	  <script src="javascripts/dependencies/bootstrap.js"></script>
		<script src="javascripts/dependencies/gifshot.js"></script>
    <script src="javascripts/dependencies/esprima.min.js"></script>
    <script src="javascripts/dependencies/lodash.min.js"></script>
    <script src="javascripts/dependencies/classList.js"></script>
	  <script src="javascripts/main.js"></script>
	</body>
</html>