<!DOCTYPE html>
<html>

	<head>
		<title>Giffinate</title>
	</head>


	<body>
		
		<div class="container">

			<!-- GIFF CONTENT -->

			<div>
				<div class="border-padding">
				
					<video autoplay></video>
					
				</div>
			</div>




			<!-- USER INTERACTIONS -->
			<div>
				<form class="options">
						<button class="capture btn-primary btn-lg">Giffinate!</button>

						<label class="border-padding">Text:</label>
						<input type="text" name="text">



						<button>Edit</button>
						<button>Share</button>
				</form>
			</div>
		</div>







	  <script src="javascripts/main.js"></script>


	</body>
</html>