<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Gifenger</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="stylesheets/dependencies/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

	</head>
	
	<body>
		<div>
			<!-- GIF CONTENT -->
			<div>
				<video id="vid" class="video-stream size" autoplay></video>
			</div>
			
			<div id="bar">
				<progress class="gifshot-progress-bar hidden" max="1" value="0"></progress>
			</div>


			<!-- USER INTERACTIONS -->
			<div>
				<label for="text">Text:</label>
				<input name="text" id="text" type="text" placeholder="Add text here..." size="20">
			</div>

			<div>
				<button>Filter</button>
			</div>

			<div>
				<button id="edit-btn">Edit</button>
			</div>

			<br />

			<div>
				<button id="create-gif-btn">Record GIF</button>
			</div>

			<br />

			<div>
				<ul class="gif-display size hidden"></ul>
				
				<a href="http://www.facebook.com/sharer.php?u=https://google.com" target="_blank">
        	<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    		</a>
			</div>

			
		




		</div>
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous">  	
		</script>

		<script src="javascripts/dependencies/gifshot.js"></script>
    <!-- <script src="javascripts/dependencies/prism.min.js"></script> -->
    <script src="javascripts/dependencies/esprima.min.js"></script>
    <!-- <script src="javascripts/dependencies/escodegen.min.js"></script> -->
    <script src="javascripts/dependencies/lodash.min.js"></script>
    <script src="javascripts/dependencies/classList.js"></script>
	  <script src="javascripts/main.js"></script>
	  <!-- <script src="javascripts/test.js"></script> -->
	</body>
</html>