<!DOCTYPE html>
<html>

	<head>
	<meta charset="utf-8">
		<title>Gifenger</title>

		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	
	<body>
		<div>

			<!-- GIF CONTENT -->
			<div>
				<video id="vid" class="video-stream size" autoplay></video>
				<div class="gif-display size hidden"></div>
			</div>




			<!-- USER INTERACTIONS -->
			<div>
				<label for="text">Text:</label>
				<input name="text" id="text" type="text" placeholder="Add text here...">

				<button id="create-gif-btn">Giffinate!</button>

				<button id="edit-btn">Edit</button>
				<button id="share-btn">Share</button>
			</div>
		





		</div>

		<script src="javascripts/dependencies/gifshot.js"></script>
    <script src="javascripts/dependencies/prism.min.js"></script>
    <script src="javascripts/dependencies/esprima.min.js"></script>
    <script src="javascripts/dependencies/escodegen.min.js"></script>
    <script src="javascripts/dependencies/lodash.min.js"></script>
    <script src="javascripts/dependencies/classList.js"></script>
	  <script src="javascripts/main.js"></script>
	</body>
</html>