<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>GIFme</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="stylesheets/dependencies/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	
	<body>

		<div class="nav-area">
			<ul>
				<li>
					<a href="/">GIFme</a>
				</li>
			</ul>
		</div>

		<div class="container">

			<!-- GIF CONTENT -->
			<div class="wrapper">

				<div class="left">
					<div>
						<video id="vid" class="video-stream size" autoplay></video>
					</div>	
				</div>

				<!-- USER INTERACTIONS -->
				<div class="right">

					<!-- Add draggable feature in future update -->
					<div>
						<div class="upload-box">
							<p>
								Upload
							</p>
						</div>
					</div>

					<div class="text-area">
						<label for="text">
							Text:
						</label>
						<input name="text" id="text" type="text" placeholder="Add a brief message..." size="24" maxlength="20">
					</div>

					<!-- FILTERS -->

					<div class="btn-group radio-btns" data-toggle="buttons">
				    <input id="insta" name="filter" type="radio">
				    <label for="insta">
				    	Insta-Filter
				    </label>

				    <input id="none" name="filter" type="radio">
				    <label for="none">
				    	None
				    </label>

				    <input id="vhs" name="filter" type="radio">
				    <label for="vhs">
				    	VHS-Filter
				    </label>
					</div>

					<div class="create-btn">
							<button id="create-gif-btn">
								Record GIF
							</button>
					</div>
				</div>

			</div>

			<hr />
			
			<!-- Where the GIFs will be displayed -->
			<div class="gif-box">
			
					<div id="bar">
						<div class="loading hidden">
							<p>
								Processing...
							</p>
						</div>

						<progress class="gifshot-progress-bar hidden" max="1" value="0"></progress>
					</div>

				<ul class="gif-display">
					<li>
						<img src="/images/one.gif">
					</li>
					<li>
						<img src="/images/two.gif">
					</li>
					<li>
						<img src="/images/three.gif">
					</li>
					<li>
						<img src="/images/four.gif">
					</li>
				</ul>
			</div>




		




		</div>
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous">  	
		</script>
	  <script src="javascripts/dependencies/bootstrap.js"></script>
		<script src="javascripts/dependencies/gifshot.js"></script>
    <script src="javascripts/dependencies/esprima.min.js"></script>
    <script src="javascripts/dependencies/lodash.min.js"></script>
    <script src="javascripts/dependencies/classList.js"></script>
	  <script src="javascripts/main.js"></script>
	</body>
</html>